.inspiration-list {
  background-color: rgba(23, 23, 26, .95);
  border-radius: 5px;
	margin: 0 auto;
	max-width: 700px;
  min-height: 300px;
  padding: 1em .5em 2em .5em;
	width: 90%;
}

.inspiration-list p {
  margin: .5em 0 1.5em;
  text-align: center;
}

.inspiration-list ul {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .inspiration-list {
    padding: 1em 1em 2em 1em;
  }
} 

@media screen and (min-width: 600px) {
  .inspiration-list {
    padding: 1em 2em 2em 2em;
  }
} 
