.me .name {
  font-size: 4em;
  font-weight: 100;
  margin: .75em 0 .25em;
  text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, .5);
}

.me .name span {
  position: relative;
}

.me .name svg {
  height: 45px;
  left: -27px;
  position: absolute;
  top: -25px;
  transform: rotate(-30deg);
  width: 40px;
}

.me .logout {
  background: 0;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: .8em;
  font-weight: 300;
  margin: .25em .75em 1em;
}

.me .logout [class*='icon'] {
  font-size: .8em;
  margin: 0 4px 0 0;
}

@media screen and (min-width: 600px) {
  .me .name {
    font-size: 6em;
  }

  .me .name svg {
    height: 65px;
    left: -37px;
    top: -35px;
    width: 60px;
  }
}
