html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	font-weight: inherit;
}

body {
  background-color: #111;
  color: #E5CE81;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  margin: 0;
}

button {
  background: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
}

input {
  border-radius: 0;
}
