.elfsberg-title {
  font-size: 3em;
  margin: .25em 0 .5em;
}

.elfsberg-title span {
  position: relative;
}

.elfsberg-title svg {
  bottom: 10px;
  height: 27px;
  left: -25px;
  position: absolute;
  width: 24px;
}

.login-form {
  background-color: rgba(23, 23, 26, .95);
  border-radius: 5px;
	margin: 0 auto;
	max-width: 400px;
	padding: 2em 2em 4em 2em;
	width: 90%;
}

.login-form button {
	background: 0;
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: 2em;
	margin: .5em 0;
	outline: 0;
	width: 100%;
}

.login-form .realname {
	will-change: display, height, margin, opacity;
}

.login-form .toggle-btn {
	cursor: pointer;
	font-size: 1em;
	font-weight: 300;
	margin: 0;
	text-align: right;
}

.login-form img {
  height: 1em;
}

.login-form .action-btn {
	background-color: #E5CE81;
	border: solid 1px #E5CE81;
	color: rgba(23, 23, 26, .95);
	cursor: pointer;
	font-weight: 400;
	height: 1.5em;
	overflow: hidden;
	position: relative;
	transition: background-color .2s, color .2s;
}

.login-form .action-btn:hover,
.login-form .action-btn:focus {
	background-color: transparent;
	color: #E5CE81;
}

.login-form .action-btn:active {
	background-color: rgba(229, 206, 129, .25);
}

.login-form .action-btn img {
  margin: 0 5px -5px 0;
}

.login-form .action-btn [class*='icon'] {
  position: relative;
  right: 5px;
  top: 5px;
}

.login-form .action-btn > span {
	display: block;
	height: 100%;
	left: 0;
  padding-right: 1em;
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	transition: transform .4s;
	width: 100%;
}

.login-form .action-btn > span:nth-child(2) {
	left: 100%;
}

.register-active .action-btn > span {
	transform: translate3d(-100%, -50%, 0);
}


@media screen and (min-width: 600px) {
  .elfsberg-title {
    font-size: 5em;
  }

  .elfsberg-title svg {
    bottom: 17px;
    height: 37px;
    left: -30px;
    position: absolute;
    width: 34px;
  }
}
